HTML, BODY, UL, LI, OL, DL, DD, DT, P, H1, H2, H3, H4, H5, H6, FORM, FIELDSET, LEGEND, IMG {
    BORDER: 0px;
    MARGIN: 0px;
    PADDING: 0px;
    -WEBKIT-BOX-SIZING: border-box;
    -MOZ-BOX-SIZING: border-box;
    BOX-SIZING: border-box;
}

H1, H2, H3, H4, H5 {
    FONT-WEIGHT: normal;
}

IMG, FIELDSET {
    BORDER-BOTTOM-STYLE: none;
    BORDER-RIGHT-STYLE: none;
    BORDER-TOP-STYLE: none;
    BORDER-LEFT-STYLE: none;
}

ADDRESS, CAPTION, CITE, CODE, DFN, TH, VAR {
    FONT-STYLE: normal;
    FONT-WEIGHT: normal;
}

UL, OL {
    LIST-STYLE-TYPE: none;
}

LI {
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    PADDING-TOP: 0px;
}

INPUT {
    PADDING-BOTTOM: 0px;
    PADDING-TOP: 0px;
}

SELECT, INPUT {
    VERTICAL-ALIGN: middle;
}

SELECT, INPUT, TEXTAREA {
    MARGIN: 0px;
    FONT-SIZE: 12px;
}

INPUT[type='text'], INPUT[type='password'], TEXTAREA {
    OUTLINE-STYLE: none;
    -webkit-appearance: none;
}

TABLE {
    BORDER-COLLAPSE: collapse;
}

A {
    COLOR: #666;
    TEXT-DECORATION: none;
}

A:hover {
    COLOR: #c00;
    TEXT-DECORATION: underline;
}

A:visited {
    COLOR: #333;
}

BODY {
    FONT: 12px/24px "宋体";
    COLOR: #333333;
    -webkit-text-size-adjust: none;
}

body {
    background: url(../images/bg_main_window.jpg) repeat-x;
    margin: 0;
}

.float_left {
    float: left
}

.float_right {
    float: right
}

.clearit {
    height: 0px;
    clear: both;
    font-size: 0px;
    overflow: hidden;
}

.fill_parent {
    width: 100%;
    height: 100%;
}

.main_util {
    width: 980px;
    margin: 0px auto;
    overflow: hidden;
    background: url(../images/topbar_bg.png) repeat-x;
}

.util_weather {
    float: left;
    height: 30px;
    width: 500px;
}

.util_weather .stylebtn_blue {
    float: left;
    height: 8px;
    width: 4px;
    margin-top: 12px;
    margin-right: 2px;
    margin-left: 10px;
    overflow: hidden;
    background: #0284e1;
    border: 1px solid #0284e1;
}

.util_weather .info_text {
    float: left;
    height: 20px;
    line-height: 20px;
    margin-left: 10px;
    margin-top: 6px;
    overflow: hidden;
}

.site_util {
    float: left;
    height: 30px;
    width: 325px;
}

.site_util .link {
    float: right;
    height: 20px;
    line-height: 20px;
    padding-left: 20px;
    margin-right: 10px;
    margin-top: 6px;
}

.site_util .link_icon_1 {
    background: url(../images/icon_1.png) 5px no-repeat;
}

.site_util .link_icon_2 {
    background: url(../images/icon_2.png) 5px no-repeat;
}

.site_util .link_icon_3 {
    background: url(../images/icon_3.png) 5px no-repeat;
}

.site_util .link_icon_4 {
    background: url(../images/icon_4.png) 5px no-repeat;
}

.main_login {
    float: right;
    height: 30px;
    width: 150px;
}

.main_login .smallbtn {
    float: right;
    height: 20px;
    line-height: 20px;
    vertical-align: middle;
    text-align: center;
    color: #fff;
    margin-top: 6px;
    margin-right: 10px;
    border: none;
    cursor: pointer;
    padding-left: 10px !important;
    padding-right: 10px !important;
    padding-left: 5px;
    padding-right: 5px;
    overflow: hidden;
    background: url(../images/line.png) repeat-x;
}

.main_logo {
    width: 980px;
    margin: 0px auto;
    overflow: hidden;
    height: 100px;
}

.main_logo .logo {
    width: 980px;
    height: 100px;
    background-image: url(../images/logo.png)
}

.main_menu {
    width: 980px;
    margin: 0px auto;
    overflow: hidden;
    height: 43px;
    background: url(../images/navbar_bg.png) repeat-x;
}

.main_menu li {
    float: left;
}

.main_menu .btnnum_6 {
    margin-left: 4px;
}

.main_menu .btnnum_6 .navbtn {
    line-height: 39px;
}

.main_menu .nav_spline {
    width: 2px;
    height: 42px;
    margin-left: 2px;
    margin-right: 2px;
    overflow: hidden;
    background: url(../images/navbar_spline.png);
}

.main_menu .btnnum_6 .navbtn a {
    display: block;
    height: 39px;
    text-align: center;
    font-size: 16px;
    font-family: "微软雅黑","黑体";
    font-weight: bold;
    margin-top: 2px;
    overflow: hidden;
    letter-spacing: 2px;
    color: #FFFFFF;
    text-decoration: none;
    width: 155px;
}

.main_menu .btnnum_6 .navbtn a:hover {
    color: #333333 !important;
    background: url(../images/navbar_hoverdbg.png) repeat-x;
    text-decoration: none;
}

.main_menu .btnnum_9 .navbtn a:visited {
    color: #FFFFFF;
}

.main_banner {
    width: 980px;
    margin: 0px auto;
    overflow: hidden;
    height: 40px;
    background: url(../images/infobar_bg.png) repeat-x;
}

.main_banner_notice {
    float: left;
    height: 38px;
    width: 550px;
}

.main_banner_notice .scrollnoticeicon {
    float: left;
    height: 20px;
    line-height: 23px;
    padding-left: 20px;
    margin-left: 15px;
    position: relative;
    margin-top: 5px;
    overflow:hidden;
    background: url(../images/noticebar_speaker_red.png) 0 4px no-repeat;
}

.main_banner_notice .scrollnotice {
    line-height: 23px;
    font-size: 12px;
    color: rgb(19, 82, 148);
}

.main_banner_search {
    float: left;
    height: 38px;
    width: 420px;
}

.main_banner_search .searchBar {
    float: right;
    width: 300px;
    height: 24px;
    margin-top: 6px;
}

.main_banner_search .searchBar .searchBox {
    float: left;
    width: 221px;
    height: 24px;
}

.main_banner_search .searchBar .searchBox .searchBox_left {
    float: left;
    width: 23px;
    height: 24px;
    background: url(../images/search_searchbox_left.png) no-repeat;
}

.main_banner_search .searchBar .searchBox .searchBox_mid {
    float: left;
    width: 193px;
    height: 24px;
    background: url(../images/search_searchbox_mid.png) repeat-x;
}

.main_banner_search .searchBar .searchBox .searchBox_right {
    float: left;
    width: 5px;
    height: 24px;
    background: url(../images/search_searchbox_right.png) no-repeat;
}

.main_banner_search .searchBar .searchBox .searchBox_mid input {
    width: 190px;
    height: 24px;
    border: 0px;
    background-color: transparent;
    line-height: 24px;
}

.main_banner_search .searchBar .searchBtn div {
    float: left;
    cursor: pointer;
    border: none;
    width: 73px;
    height: 24px;
    background: url(../images/search_btn_normal.png) no-repeat;
}

.main_content_top {
    width: 980px;
    margin: 5px auto;
    overflow: hidden;
}

.main_content_top_scroll_news {
    float: left;
    height: 290px;
    width: 360px;
}

.picshow_main {
    margin: 0 auto;
    position: relative;
    width: 360px;
    height: 280px;
    border: 2px solid #d6d6d6;
    background: #ffffff;
}

.picshow_main .imgbig {
    width: 360px;
    height: 248px;
    overflow: hidden;
    padding: 1px;
}

.picshow_change {
    position: absolute;
    text-align: right;
    bottom: 24px;
    height: 31px;
    right: 10px;
}

.picshow_change a {
    float: left;
    display: block;
    margin-right: 5px;
    display: inline;
}

.picshow_change img {
    width: 15px;
    height: 15px;
}

.picshow_change a.axx img {
    filter: alpha(opacity=40);
    opacity: 0.4;
    -moz-opacity: 0.4;
}

.picshow_change a.axx:hover img {
    filter: alpha(opacity=100);
    opacity: 1.0;
    -moz-opacity: 1.0;
}

.picshow_change a.bxx {
    border-color: #000;
}

.picshow_change a.axx {
    border-color: #555;
}

.main_content_top_recruit_info {
    float: left;
    height: 290px;
    width: 360px;
    margin-left: 10px;
}

.box_1_w360_bar {
    height: 36px;
    overflow: hidden;
    background: url(../images/box_1_bar_bg.png) repeat-x;
}

.box_1_titletext {
    float: left;
    font-family: "微软雅黑", "黑体";
    font-size: 16px;
    font-weight: bold;
    color: #1456ac;
    line-height: 36px;
    letter-spacing: 2px;
    margin-left: 10px;
    display: inline;
}

.box_1_righttext {
    float: right;
    font-size: 12px;
    line-height: 36px;
    color: #666666;
    margin-right: 10px;
    text-align: center;
    display: inline;
}

.box_1_w360 {
    border-style: none;
    border-color: inherit;
    border-width: medium;
    width: 360px;
    overflow: hidden;
    background: #fcfcfc;
    height: 244px;
}

.article_list {
    padding: 10px;
}

.article_list li div>span {
    float: right;
}

.article_list .headline {
    height: 30px;
    line-height: 30px;
    font-family: "黑体";
    font-size: 18px;
}

.margin_top_2 {
    margin-top: 2px;
}

.margin_top_5 {
    margin-top: 5px;
}

.margin_top_10 {
    margin-top: 10px;
}

.main_content_top_employ_guide {
    float: left;
    height: 290px;
    width: 240px;
    margin-left: 10px;
}

.box_2_w240_bar {
    height: 36px;
    width: 240px;
    overflow: hidden;
    background: url(../images/box_2_bar_bg.png) repeat-x;
}

.box_2_titletext {
    float: left;
    font-family: "微软雅黑", "黑体";
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    line-height: 36px;
    letter-spacing: 2px;
    margin-left: 10px;
    display: inline;
}

.box_2_righttext {
    float: right;
    font-size: 12px;
    line-height: 36px;
    color: #fef3dc !important;
    margin-right: 10px;
    text-align: center;
    display: inline;
}

.box_2_w240 {
    border-left: 1px solid #3ea6e6;
    border-right: 1px solid #3ea6e6;
    border-bottom: 1px solid #3ea6e6;
    width: 238px;
    background-color: #e9f4fd;
    overflow: hidden;
    border-top: none;
    height: 244px;
}

.main_content_bottom {
    width: 980px;
    margin: 5px auto;
    overflow: hidden;
}

.main_content_bottom_online_train {
    float: left;
    height: 300px;
    width: 360px;
}

.box_3_w360_bar {
    width: 360px;
    height: 36px;
    background: url(../images/box_3_bar_bg_w360.png) no-repeat;
}

.box_3_w360 {
    width: 358px;
    background: #fff;
    border-style: solid;
    border-width: 1px;
    border-color: #b0cee6;
    overflow: hidden;
    border-top: none;
}

.box_3_titletext {
    float: left;
    font-family: "微软雅黑", "黑体";
    line-height: 36px;
    font-size: 14px;
    font-weight: bold;
    color: #1456ac;
    margin-left: 10px;
    display: inline;
}

.box_3_righttext {
    float: right;
    font-size: 12px;
    line-height: 36px;
    color: #666;
    margin-right: 10px;
    text-align: center;
    display: inline;
}

.main_content_bottom_life_service {
    float: left;
    height: 300px;
    width: 360px;
    margin-left: 10px;
}

.main_content_bottom_advertise {
    float: left;
    height: 300px;
    width: 240px;
    margin-left: 10px;
}

.box_5_w240_bar {
    width: 240px;
    height: 36px;
    background: url(../images/box_5_bar_bg_w240.png) repeat-x;
}

.box_5_titletext {
    float: left;
    font-family: "微软雅黑", "黑体";
    line-height: 36px;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    padding-left: 5px;
    margin-left: 10px;
    display: inline;
}

.box_5_righttext {
    float: right;
    font-size: 12px;
    line-height: 36px;
    color: #666;
    margin-right: 10px;
    text-align: center;
    display: inline;
}

.main_link {
    width: 980px;
    margin: 5px auto;
    overflow: hidden;
    height: 140px;
}

.box_3_w980_bar {
    width: 980px;
    height: 36px;
    background: url(../images/box_3_bar_bg_w980.png) no-repeat;
}

.box_3_tabbtn a {
    float: left;
    height: 29px;
    line-height: 29px;
    margin-top: 5px;
    margin-left: 5px;
    padding-left: 6px;
    padding-right: 6px;
    overflow: hidden;
    font-family: "微软雅黑", "黑体";
    font-size: 14px;
    font-weight: bold;
    color: #666666;
    background: #f9f9f9;
    border-style: solid;
    border-width: 1px;
    border-color: #c6c6c6;
    border-bottom-style: none;
    text-decoration: none;
}

.box_3_tabbtn a:visited {
}

.box_3_tabbtn a:hover {
    text-decoration: none;
}

.box_3_tabbtn .sel {
    height: 30px;
    border-color: #1456ac;
    background: #fff;
    color: #1456ac !important;
}

.box_3_w980 {
    width: 978px;
    background: #fff;
    border-style: solid;
    border-width: 1px;
    border-color: #b0cee6;
    overflow: hidden;
    border-top: none;
}

.friendlinks {
    margin: 15px 0px 15px 15px;
    height: 77px;
}

.friendlinks .linkpage {
    height: 62px;
}

.friendlinks .linkpage a {
    float: left;
    width: 180px;
    height: 25px;
    line-height: 25px;
}

.friendlinks a {
    float: left;
    line-height: 25px;
    height: 25px;
    overflow: hidden;
    margin: 0 5px;
}

.main_about_us {
    width: 980px;
    margin: 5px auto;
    overflow: hidden;
    height: 100px;
}

.main_about_us .linkbar {
    height: 37px;
    background-color: #1456ac;
    margin: 0 auto;
    text-align: center;
    word-spacing: 15px;
    line-height: 37px;
}

.main_about_us .linkbar a {
    font-family: '微软雅黑', '黑体';
    font-size: 14px;
    color: #fff;
}

.main_about_us .linkbar a:hover {
    color: #FF0;
}

.main_about_us .copyright {
    height: 86px;
    background: #f3f3f3;
    margin: 0 auto;
    padding-top: 15px;
    text-align: center;
}

.main_ad_left {
    position: fixed;
    left: 0;
    top: 100px;
    height: 300px;
    width: 100px
}

.main_ad_right {
    position: fixed;
    right: 0;
    top: 100px;
    height: 300px;
    width: 100px
}